@import url(layout.css);

.filmes {
  color: var(--font-color);
}

.filmes h2 {
  color: var(--light-principal-color);
  text-decoration: overline;
  text-align: center;
}

.itens {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1px;
  margin-top: 2vw;
}

.info {
  display: grid;
  text-align: center;
  font-size: small;
  margin-bottom: 0.4vw;
}

.info img {
  width: 9vw;
  height: 13vw;
  display: block;
  margin: auto;
}
.info a{
  margin-bottom: 7px;
}
.info a:hover{
  transition: 0.35s;
  transform: scale(1.05);
}
