@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
/* 
============================================== 
                Reset
============================================== 
*/
* {
  margin: 0px;
  padding: 0px;
}
html {
  height: 100vh;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--base-color);
  font-family: "Nunito", sans-serif;
}
/* 
============================================== 
                Colors
============================================== 
*/
:root {
  --base-color: #0d0d0f;
  --font-color: #f7fff2;
  --principal-color: #6441a5;
  --dark-principal-color: #301a59;
  --light-principal-color: #c1a7f2;
}
/* 
============================================== 
                Text
============================================== 
*/
.primaryTextColor {
  color: var(--font-color);
}
.secondaryTextColor {
  color: black;
}
/* 
============================================== 
                btns
============================================== 
*/
.buttons {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.btnA {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 12pt;
  color: var(--font-color);
  text-decoration: none;
  background-color: var(--dark-principal-color);
  cursor: pointer;
  transition: 0.2s;
}
.btnButton {
  height: 100%;
  border-radius: 7px;
  outline: none;
  border: none;
  font-size: 12pt;
  color: var(--font-color);
  background-color: var(--dark-principal-color);
  cursor: pointer;
  transition: 0.2s;
}
.btnA:hover,
.btnButton:hover {
  transform: scale(1.02);
}
/* 
============================================== 
                inputs
============================================== 
*/
.inputStyle {
  outline: none;
  border-radius: 7px;
  border: 1px var(--light-principal-color) solid;
}
